body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

main {
    font-family: 'Lora';
}

/***** GRID *****/
.full-width {
    margin: 0px 100px;
    display: flex;

}

.half-width {
    width: 50%;
    display: inline-block;
    text-align: center;
    align-items: stretch;
}


/***** ABOUT *****/
#about h2 {
    margin: 50px 100px;
    font-size: 36px;
    /* padding: 115px 0; */
}

#about .half-width {
    padding: 0 40px;
    box-sizing: border-box;
}

#about p {
    color: #7f7f7f;
    font-size: 21px;
}


/***** WORK *****/
#work .full-width {
    background-color: #b7e4f9;
}

#work .third-width {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 40px 20px;
}

#work img {
    width: 85px;
    height: 85px;
}

#work h3 {
    height: 48px;
}


/***** HEADER *****/
header {
    background: url(../img/desk.jpg);
    background-size: cover;
    font-family: 'Lora';
}

header .full-width {
    padding: 50px 0 6px 0;
    display: block;
    height: 700px;
}

header .half-width {
    justify-content: right;
    display: flex;
}

header ul {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 30px;
    color: #2d2abd;
}

header nav {
    display: flex;
}

header nav li {
    display: inline-block;
}

header nav li a {
    padding-left: 30px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

header img {
    width: 299px;
}

header h2 {
    font-size: 72px;
    clear: both;
    color: #32979b;
    margin: 30px auto 40px auto;
}

header h2 span {
    color: #2b2b2b;
}


/***** FOOTER *****/
footer {
    margin-top: 10px;
}

footer .full-width {
    background-color: #ebebeb;
    padding: 50px 0;
}

footer .half-width {
    width: 50%;
}

footer #contact-area {
    display: flex;
    background-color: white;
}

footer #contact-image {
    background: url('../img/keyboard.jpg');
    background-size: cover;
    background-color: white;
    margin: 5px 5px 5px 0;
    width: 100%;
}

footer h3 {
    font-family: sans-serif;
    font-weight: 300;
}

footer ul {
    list-style-type: none;
}